@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400;600;700&display=swap');

*{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    font-weight: 100;
}

html{
    height: 100%;
}

body{
    background: linear-gradient(-45deg, #f1977b,#ed70a0, #5bc7ef, #72eed1, #5bc7ef, #ed70a0, #f1977b);
    height: 100%;
    width: 100%;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: absolute;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#top-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 12%;
    padding-bottom: 90px;
}

#name{
    padding-top: 150px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

#programmer{
    text-align: center;
    color: #fff;
}
/* main body */
#body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    background-color: #fff;
    padding-top: 10px;
    gap: 10px;
}

#body-container h2{
    padding-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

.line{
    font-size: 50px;
    color: rgb(196, 196, 196);
    margin: 0;
    padding: 0;
}

#footer{
    background-color: #5d8fba;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

ul{
    margin: 0;
    padding: 0;
};