/* Project section */

.project-section{
    width: 100%;
}

.project-section-title{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    font-size: 30px;
    font-family: 'Megrim', system-ui;
}

