#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main-top-container{
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 0;
    padding: 0;
}

.left-container, .right-container{
    margin: 0;
    padding: 0;
}

#top-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* main body */

.text-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 10px;
    margin-bottom: 50px;
}
/* theme light/dark control */
.theme-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding: 8px;
    top: 0;
    right: 0;
}

.light-btn,
.dark-btn {
    width: 25px;
    height: auto;
}
/* theme control ends */

#long-text{
    text-align:justify;
}

img{
    width: 80px;
    padding: 5px;
}

#github{
    width: 150px;
}
.line{
    font-size: 50px;
    color: rgb(196, 196, 196);
    padding: 0;
    margin-bottom: 20px;
}

button{
    background-color:#ed70a0;
    
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.8;
}
button:hover{
    width: 150px;
    height: 40px;
    background-color: #f1977b;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    list-style-type: none;
};

#copyright{
    font-size: small;
}

#footer{
    background-color: #5d8fba;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
};

/* mobile */
@media (max-width: 767px) {
    .line{
        padding-top: 0px;
    }
    
    #name{
        font-size: 24px;
    };
}

/*animation */
/* body{
    background: linear-gradient(-45deg, #f1977b,#ed70a0,#5c4cb7,#5bc7ef, #72eed1, #de5d8f, #f1977b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: absolute;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */