/* google font Megrim - 400 */
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
/* google font Inter - 100 to 900*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Megrim&display=swap');
.logo{
    width: 350px;
    height: auto;
    padding: 0;
    margin: 0;
}

.nav-profile-container{
    font-family: "Inter", sans-serif;
    margin-top: 0;
    /* background-color: #f3f3f3; */
    position: sticky;
    top: 0;
    height: 100vh;
    background: #e7e7e7;
    /* background: linear-gradient(-45deg,#e7e7e7, #dfdfdf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
}
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

.navlinks-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 36px 0px;
    gap: 20px;
}

.navlinks-container a{
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    transition:
    background-color 0.5s ease-in,
    color 1s;
    
}

.navlinks-container a:hover{
    background-color: #003f5f;
    color: #f4f4f4;
    
}
.name{
    font-family: "Megrim", system-ui;
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: #005c8b;
    font-weight: 700;
}

.job-title{
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

.job-skills{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #ffbd9f;
}

/* buttons */
.nav-icons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 8px;
    margin-top: 50%;
    gap: 16px
}

.nav-icons img{
    width: 35px;
}
a:hover{
    cursor: pointer;
}