.header-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.header-top-profile-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.header-photo-container{
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.header-stack-container{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.name{
    color:rgb(118, 63, 182);
    margin: 0;
    padding: 8px 0;
    font-size: 32px;
}
.job-title{
    margin: 0;
    color:#414141;
}
.job-skills{
    color:#949494;
    margin: 0;
    padding-top: 8px;
}
.header-photo{
    width: 246px;
    border-radius: 246px;
    border: 5px solid #fff;
}
.header-paragraph-container{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 100px 12px 100px;
    justify-content: center;
}
.header-paragraph-container p{
    font-size: 20px;
    text-align: justify;
    width: 100%;
}
/* buttons */
.header-icons{
    margin: 24px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    min-width: 80%;
}
a:hover{
    cursor: pointer;
}

@media screen and (max-width: 576px){

    /* Header - Profile Section */

    .header-main-container{
        margin: 36px 16px;
    }
    .header-photo-container{
      margin-top: 28px;
      }
    .header-photo{
    width: 164px;
    border-radius: 164px;
    border: 5px solid #fff;
    }

    .name{
        font-size: 28px;
    }

    .job-title{
        font-size: 30px;
    }
    .header-paragraph-container{
      flex-wrap: wrap;
    }

    .header-paragraph-container{
        margin: 12px 28px;
    }
    .header-paragraph-container p{
        font-size: 24px;
        width: 100%;
    }
}